<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .brand-Colors {
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
            color: #000000;
        }
        .colors-class{
            color: #000000;
        }

    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background:#0787AD; color: black">
        <div class="container">
            <div class="navbar-header" style="color: black; background: #0787AD;">
                @Html.ActionLink("CineHitss", "IntroView", "CineV", new { area = "" }, new { @class = "brand-Colors" })
            </div>
            <div class="navbar-collapse collapse" style="color: black; background: #0787AD">
                <ul class="nav navbar-nav" style="color: black">
                    <li>@Html.ActionLink("Ingresar", "Index", "Home", null, new { @style = "color:#000000" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @style = "color:#000000" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @style = "color:#000000" })</li>
                    <li>@Html.ActionLink("Cine", "GetCiudades", "CineV", null, new { @style = "color:#000000" })</li>
                </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Luis Xavier Perez Torres</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
